:root{
    --color-primario: #212429;
    --color-secundario: #dd2a33;
}

.color-dark{
    background-color: var(--color-primario);
}

.barra-buscar{    
    box-sizing: border-box;
    height: 40px;
    justify-content: center !important;
    width: auto;
    padding: 0 5px;
    border: none;
    font-size: calc(.6em + .5vw);
    transition: all .7s ease;
    border-radius: 5px;
}

@media screen and (min-width: 780px){/*aplica de 780px en adelante*/
    .barra-buscar{
        width: 85%;
    }
}

@media screen and (min-width: 1250px){/*aplica de 1250px en adelante*/
    .barra-buscar{
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {/*aplica de 1100px para abajo*/ 
    .ocultar{
        display: none;
    }
}

@media screen and (max-width: 1030px) {/*aplica de 1030px para abajo*/ 
    .ocultar-cuenta{
        display: none;
    }
}

@media screen and (max-width: 900px) {/*aplica de 900px para abajo*/ 
    .sub-contenedor{
        padding: 0px !important;
        margin: 0% !important;
    }
}

@media screen and (max-width: 520px) {/*aplica de 520px para abajo*/ 
    .ocultar-redes{
        display: none;
    }

    .barra-buscar{    
        width: auto;
    }

    .quitar-padding{
        padding: 0px !important;
    }
}

.barra-secundario{
    background-color: #f8f9fb;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    width: 100% !important;
}

.contenedor-bs{
    display: flex;
    justify-content: center;    
}

.navbar{
    display: flex;    
    justify-content:space-between !important;
    padding: auto, 0;
    margin: auto, 0;
}

.fondo-pie-pagina {
    background: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7, 12, 0.50)), url(../resources/images/Fondo-pie-pagina.jpg);
    background-position: center;
}

.barra-rs{
    background-image: url(../resources/images/Fondo-redes-sociales.jpg);
}

.div-links{
    width: 100%;
}

.iframe-mapa{
    border:0;
    border-radius: 5px;
    width:100%    
}

/*aplica de 1250px para abajo*/
@media screen and (max-width: 1250px){
    .iframe-mapa{
        height: 375px;
    }
}

@media screen and (max-width: 1100px){
    .iframe-mapa{
        height: 325px;
    }
}

@media screen and (max-width: 1092px){
    .iframe-mapa{
        height: 455px;
    }
}

@media screen and (max-width: 850px){
    .iframe-mapa{
        height: 325px;
    }
}

@media screen and (max-width: 600px){
    .iframe-mapa{
        height: 250px;
    }
}

@media screen and (max-width: 490px){
    .iframe-mapa{
        height: 200px;
    }
}

.contenedor figure {
    position: relative;
    height: 300px;
    cursor: pointer;
    width: 200px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
}

.contenedor figure img {
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(224, 36, 40, 0.4);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor figure .capa h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}

.contenedor figure .capa p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

/* AdiciÃ³n de apartado responsive para el "Nosotros/Conocenos" */
@media screen and (min-width: 360px) and (max-width: 424px) {
    .contenedor figure:hover>.capa h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .contenedor figure .capa p {
        font-size: 9px;
    }
}

@media screen and (min-width: 425px) and (max-width: 579px) {
    .contenedor figure:hover>.capa h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .contenedor figure .capa p {
        font-size: 10px;
    }
}

@media screen and (min-width: 580px) and (max-width: 767px) {
    .contenedor figure:hover>.capa h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contenedor figure .capa p {
        font-size: 15px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor figure:hover>.capa h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .contenedor figure .capa p {
        font-size: 15px;
    }

}




.header-icon-whats {
    position: fixed;
    width: 225px;
    height: 350px;
    bottom: 50px;
    right: 80px;
    flex: 0 1 15%;
    transition: all 0.5s;
    justify-content:end;
    align-items: end;
    display: flex;
    size: 40px;
    z-index: 100;
    
}

.header-icon-whats:hover {
    /* flex: 1 1 10%;
    background-image: url(../assets/img/fondo-whastsapp.png);
    background-repeat: no-repeat;
    background-size: contain; */

    background-color: rgb(221, 221, 174);
}

#whastsapp-icon {
    width: 40;
}